/*-- General Settings --*/
$generalWidgetBG: #1e2132; 
$generalWidgetRadius: 8px;
$generalHighlight: #242940;

/*-- Visualizer Settings --*/
$barFill:  #84a0c6;
$barMargin: 0.5em;
$barNonFill: transparent;
$barWidth: 3em;
$barRadius: 3px;
